# 2024-02-24 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/app/etc/config.php
!/composer.json
# 2024-02-24 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Adapt Magento to Windows": https://github.com/mage2pro/pwa-studio-2024-02-24-backend/issues/1
# 2) "How to adapt `pub/get.php` to Windows in Magento ≥ 2.4.2?": https://mage2.pro/t/6415
!/pub/get.php
!/readme.md
# 2024-02-24 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Adapt Magento to Windows": https://github.com/mage2pro/pwa-studio-2024-02-24-backend/issues/1
# 2) "How to fix intereceptors generation on `bin/magento setup:di:compile` in Magento ≥ 2.2 in Windows?":
# https://mage2.pro/t/4702
!/setup/src/Magento/Setup/Module/Di/Code/Reader/ClassesScanner.php
# 2024-02-24 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Adapt Magento to Windows": https://github.com/mage2pro/pwa-studio-2024-02-24-backend/issues/1
# 2) "How to fix catalog images in Magento ≥ 2.3.5 in Windows?" https://mage2.pro/t/6210
!/vendor/magento/framework/Image/Adapter/Gd2.php
# 2024-02-24 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Adapt Magento to Windows": https://github.com/mage2pro/pwa-studio-2024-02-24-backend/issues/1
# 2) "How to fix «file_put_contents(generated/metadata/primary|global|plugin-list.php):
# failed to open stream: No such file or directory
# in lib\internal\Magento\Framework\Interception\PluginListGenerator.php on line 414» in Magento 2.4-develop in Windows?"
# https://mage2.pro/t/6178
!/vendor/magento/framework/Interception/PluginListGenerator.php
# 2023-07-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# Today I noticed that `git add . && git commit -a -m refactoring && git push`
# started to commit subfolders which are git repositories (for an unknown reason).
/_my
/dev
/update/
/vendor/aws/aws-crt-php
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/tubalmartin